@tailwind base;
@tailwind components;
@tailwind utilities;

/* ManyLangs 기본 스타일 */
html, body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, -apple-system;
  background-color: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
}
